{% extends "base_login.html" %}
{% load static from staticfiles %}


{% block page_title %} Month Balance:  {% endblock page_title %}


{% block main_content %}
        
    <p> {{ balance.month_of_balance }}
    <p> {{ balance.year_of_balance }}
    <p> {{ balance.me_cleared }}
    <p> {{ balance.divorcee_cleared }}
    
    
    <p>{{  balance.user_sum }} <p>
    <p>{{  balance.divorcee_participate }} <p>
    <p>{{  balance.divorcee_sum }} <p>
    <p>{{  balance.user_participate }} <p>
    <p>{{  balance.user_net }} <p>
    <p>{{  balance.divorcee_net }} <p>
    
    
    

{% endblock main_content %}
