{% extends "base_login.html" %}
{% load static from staticfiles %}


{% block page_title %} Month Balances:  {% endblock page_title %}


{% block main_content %}

    <table>
        <tr>
        
            <th> Month </th>
             <th> My Expenses </th>
              <th> Divorcee Participate </th>
              <th> Divorcee Expenses </th>
              <th> My Participate </th>
              <th> My Net </th>
              <th> Divorcee Net </th>
              <th> Cleared </th>
        </tr>
        {% for balance in object_list %}
            <tr>
            
                <td>{{  balance.month_of_balance }} </td>
                <td>{{  balance.user_sum }} </td>
                <td>{{  balance.divorcee_participate }} </td>
                <td>{{  balance.divorcee_sum }} </td>
                <td>{{  balance.user_participate }} </td>
                <td>{{  balance.user_net }} </td>
                <td>{{  balance.divorcee_net }} </td>
                <td> <a href="{{ balance.balance_object.get_absolute_url }}"> {{  balance.cleared }} </a> </td>
            </tr>
        
        {% endfor %}
    </table>

{% endblock main_content %}