{% extends "base_login.html" %}
{% load static from staticfiles %}
{% load global_tags %}

{% block sidebar_item %} "balance" {% endblock sidebar_item %}
{% block page_title %} Months Balance  {% endblock page_title %}

{% block page_nav %} 
    
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ year }}  <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            {% for y in select_years %}
                <li><a href="{% url "balance:year" y %}">{{ y }} </a></li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Expenses: {{ approved }}   <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
                <li><a href="{{ request.path }}?approved=all">Expenses: All </a></li>
                <li><a href="{{ request.path }}?approved=yes">Expenses: Approved </a></li>
                <li><a href="{{ request.path }}?approved=no">Expenses: Not Approved </a></li>
        </ul>
    </div>

{% endblock page_nav %}

{% block main_content %}

    <table class="table table-hover">
        <tr>
        
            <th> Month </th>
             <th> My Expenses </th>
              <th> Divorcee Participate </th>
              <th> Divorcee Expenses </th>
              <th> My Participate </th>
              <th> My Net </th>
              <th> Divorcee Net </th>
              <th> Status </th>
        </tr>
        {% for balance in object_list %}
            <tr>
            
                <td>
                    <a href="{{ balance.balance_object.get_absolute_url }}"> {{  balance.month_of_balance|intmonth }} </a>
                </td>
                <td>{{  balance.user_sum|currencyformat }} </td>
                <td>{{  balance.divorcee_participate|currencyformat }} </td>
                <td>{{  balance.divorcee_sum|currencyformat }} </td>
                <td>{{  balance.user_participate|currencyformat }} </td>
                <td>{{  balance.user_net|currencyformat }} </td>
                <td>{{  balance.divorcee_net|currencyformat }} </td>
                <td>  {{  balance.cleared|striftrue:"Cleared" }}  </td>
            </tr>
        
        {% endfor %}
    </table>

{% endblock main_content %}