{% extends "base_login.html" %}
{% load static from staticfiles %}
{% load global_tags %}

{% block sidebar_item %} "expenses" {% endblock sidebar_item %}
{% block page_title %} Expense Details {% endblock page_title %} 

{% block main_content %}
    
    
    
    <p> {{ expense.date_entered }} </p>
    <p> {{ expense.date_purchased }} </p>
    <p> {{ expense.month_balanced|intmonth }}, {{ expense.year_balanced }} </p>
    <p> {{ expense.expense_sum|currencyformat }} </p>
    <p> {{ expense.expense_divorcee_participate }} </p>
    <p> {{ expense.desc }} </p>
    <p> {{ expense.place_of_purchase }} </p>
    <p> {{ expense.notes }} </p>
    <p> {{ expense.is_approved }} </p>

    {% if expense.can_update %}
    
        {% if expense.owner == request.user %}
            {% if expense.is_approved %}                                
                <p> Expense approved, no edits </p>                                               
            {% else %}                                
                <a href="{{ expense.get_edit_url }}"> Edit Expense </a>                                
            {% endif %}

        {% else %}
            <a href="{{  expense.get_approve_url }}"> Approve/Disapprove Expense </a>
        {% endif %}

    {% else %}
        <p> Expense locked, month balance </p>
    {% endif %}


{% endblock main_content %}

