{% extends "base_login.html" %}
{% load static from staticfiles %}
{% load global_tags %}

{% block sidebar_item %} "expenses" {% endblock sidebar_item %}
{% block page_title %} Expense Details {% endblock page_title %} 

{% block main_content %}
    
    {{ model_html.as_p }}
     <p> Approval Status: {% if expense.is_approved %} Approved {% else %}  Pending {% endif %}  </p>
    <p> Month to Balance: {{ expense.month_balanced|intmonth }}, {{ expense.year_balanced }} </p>
   

    {% if expense.can_update %}
    
                {% if expense.owner == request.user %}
                    {% if expense.is_approved %}                                
                        <p> Expense approved, no edits </p>                                               
                    {% else %}                                
                        <a href="{{ expense.get_edit_url }}"> Edit Expense </a>                                
                    {% endif %}
        
                {% else %}
                    <a href="{{  expense.get_approve_url }}"> Approve/Disapprove Expense </a>
                {% endif %}

    {% else %}
              {% if expense.is_approved %}
                     <p> Expense locked, month balance </p>
              {% else %}
                       {% if expense.owner == request.user %}
                                <p> The balanced month is already signed as "balance" without this expense. 
                                <a href="{{ expense.get_change_month_balance_url }}"> You can move it to another unblanced month </a> </p>
                        {% else %}
                             <p> The balanced month is already signed as "balance" without this expense. </p>
                        {% endif %}
                        
                {% endif %}   
    {% endif %}


{% endblock main_content %}

