{% extends "base_login.html" %}
{% load static from staticfiles %}

{% block sidebar_item %} "expenses" {% endblock sidebar_item %}
{% block page_title %} Monthly Expenses: {% endblock page_title %}

{% block main_content %}
    
    
    <table>
        <tr>
            <th> Approved? </th>
            <th> Description </th>
             <th> Purchased By </th>
            <th> Sum </th>
            <th> % Divorcee Participate </th>    
            
            <th> Date Purchased </th>
        </tr>
            
        {% for expense in object_list %}
            <tr>
                <td> {{ expense.is_approved }} </td>                
                <td> <a href=" {{ expense.get_absolute_url }}"> {{ expense.desc }} </a> </td>
                <td> {{ expense.owner.username }} </td>
                <td> {{ expense.expense_sum }} </td>
                <td> {{ expense.expense_divorcee_participate }} </td>  
                
                <td> {{ expense.date_purchased }} </td>
            </tr>
        
       {% endfor %}
              
    </table>

{% endblock main_content %}
