{% extends "base.html" %}

{% block top_nav %}        
        <p class="navbar-text navbar-right"> Signed in as {{ request.user.username }} </p>
        <a href="{% url 'logout_simple' %}" class="btn navbar-btn btn-default navbar-right"> Logout </a> 
        <a href="{% url 'expenses:add' %}" class="btn navbar-btn btn-default navbar-right">
            <span  class="glyphicon glyphicon-plus" style="padding-right:5px;" aria-hidden="true"></span>
            Add Expense...
        </a>               
{% endblock top_nav %}

{% block ready_script %} 
    {{ block.supe }}
    set_sidebar({% block sidebar_item %} "expenses" {% endblock sidebar_item %});


{% endblock ready_script %}

{% block body %}

    <div class="page-header">
        <h1>
            {% block page_title %} {% endblock page_title %}             
        </h1>        
    </div>
    
    <div class="col-xs-10">
        {% block main_content %} {% endblock main_content %}
    </div>
    
    <div class="col-xs-2">    
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" id="sidebar-expenses">
                <a href="{% url 'expenses:main_redirect' %}">
                    <span class="glyphicon glyphicon-usd" style="padding-right:15px;" aria-hidden="true"></span> Expenses
                </a>
            </li>
            <li role="presentation" id="sidebar-balance"> 
                <a href="{% url 'balance:main_redirect' %}"> 
                    <span  class="glyphicon glyphicon-calendar" style="padding-right:15px;" aria-hidden="true"></span>Monthly Balance 
                </a>
            </li>
            <li role="presentation" id="sidebar-settings">
                <a href="{% url 'users:user_settings' %}">
                   <span class="glyphicon glyphicon-user" style="padding-right:15px;" aria-hidden="true">  Settings 
                </a>
            </li>
        </ul>
    </div>
    



{% endblock body %}